MONGO__PROTOCOL=
MONGO__HOST=
MONGO__USERNAME=
MONGO__PASSWORD=
MONGO__DB_NAME=


GOOGLE__PROJECT_ID=
GOOGLE__LOCATION=
GOOGLE__PLACE_API_KEY=
GOOGLE__SERVICE_ACCOUNT_FILE=

APPLE__BUNDLE_ID=


AUTH__SIGNING_KEY=
AUTH__ISSUER=parking-pet-api
AUTH__ACCESS_TOKEN_TTL_SECONDS=3600
AUTH__REFRESH_TOKEN_TTL_SECONDS=2592000
